body {
    margin: 60px auto;
    width: 70%;
    background-color: #d3d3d3;
    background-blend-mode: multiply, luminosity;
}
nav ul {
    font-family: 'Arial', 'Sans-Serif';
    padding: 0px;
    list-style: none;
    font-weight: bold;
    border-bottom: 1px solid #000000;
}

footer ul {
    font-family: 'Arial', 'Sans-Serif';
    padding: 0px;
    list-style: none;
    font-weight: bold;
    border-bottom: 1px solid #555;
}
nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
}
a {
    text-decoration: none;
    color: #999;
}
a:hover {
      background-color: #C0C0C0;
      color: #FFFFFF;
}
h1 {
    font-size: 54px;
    font-family:'Arial', 'Sans-Serif';
    font-weight: 300;
    line-height: 50px;
    text-transform: uppercase;
    color: #696969;
}
p {
    font-size: 1.5em;
    line-height: 1.4em;
    color: #333;
}
footer {
    border-top: 1px solid #d5d5d5;
    font-size: .8em;
}

ul.posts { 
    margin: 20px auto 40px; 
    font-size: 1.5em;
    font-family: 'Arial', 'Sans-Serif';
}

ul.posts li {
    list-style: none;
}
