<footer>
  <div class="footer-container">
    <ul class="social-links" aria-label="Social media and contact links">
      <li>
        <a href="mailto:mauro.oddi@gmail.com">
          <i class="fa fa-envelope-square fa-fw" aria-hidden="true"></i>
        </a>
      </li>
      <li>
		<a href="https://github.com/mauroseb">
          <i class="fa fa-github-square fa-fw" aria-hidden="true"></i>
        </a>
      </li>
      <li>
        <a href="https://www.linkedin.com/in/mauro27">
          <i class="fa fa-linkedin-square fa-fw" aria-hidden="true"></i>
        </a>
      </li>
      <li>
        <a href="{{ '/feed.xml' | relative_url }}">
          <i class="fa fa-rss-square fa-fw" aria-hidden="true"></i>
        </a>
      </li>
    </ul>
    <p class="footer-meta">© 2019–2025 Mauro's Blog. All rights reserved.</p>
  </div>
</footer>
