      <footer>
	      <div class="footer">
	       <ul class="footer">
	   	<li class="footer"><a href="mailto:mauro.oddi@gmail.com"><i class="fa fa-envelope-square fa-fw" style="font-size:24px;color:black;"></i></a></li>
	        <li class="footer"><a href="https://github.com/mauroseb"><i class="fa fa-github-square fa-fw" style="font-size:24px;color:black;"></i></a></li>
		<li class="footer"><a href="https://www.linkedin.com/in/mauro27"><i class="fa fa-linkedin-square fa-fw" style="font-size:24px;color:black;"></i></a></li>
		<li class="footer"><a href="{{ "/feed.xml" | relative_url }}"><i class="fa fa-rss-square fa-fw" style="font-size:24px;color:black;"></i></a></li>
		<li class="footer"><p class="meta"> Copyright © 2019-2022 Mauro's Blog. All rights reserved.</p></li>
	       </ul>
	      </div>
      </footer>
