<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">
  <meta http-equiv="content-type" content="text/html; charset=utf-8">
  <meta name="author" content="mauroseb" />
  <meta name="description" content="{{ page.description | default: site.description }}">
  <meta name="keywords" content="{{ page.keywords | default: site.keywords }}">
  <title>{{ page.title | default: site.title }}</title>
  <link rel="stylesheet" type="text/css" href="/css/main.css">
  <link 
    rel="stylesheet" 
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css" 
    integrity="sha512-KK1h0+Jlg9eYBHDMQVYx0cUmh4x0zDBuH50q3RpeDUN1EoeyxZrYI7k9u3Y7N5eAzxX4NdxFdA6vqU3K3P2yw==" 
    crossorigin="anonymous" 
    referrerpolicy="no-referrer"
  />
  <link rel="icon" type="image/png" href="{{ '/images/favicons/favicon.ico' | relative_url }}">
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap" rel="stylesheet">
  {% seo %}
</head>
