<nav id="navBar">
       <div class="nav">
         <div class="navi">
             <h1 class="navi">
             {{ site.title }}
             </h1>
          </div>
	<ul>      
           <li><a id='HOME' class={% if page.url == "/" %}"navi-active"{% else %}"navi"{% endif %} href="/">HOME</a>
           <li><a id='BLOG' class={% if page.url|truncate(6, False, '', 0) == "/blog/" %}"navi-active"{% else %}"navi"{% endif %}  href="/blog">BLOG</a></li>
	   <li><a id='WHOAMI' class={% if page.url == "/about/" %}"navi-active"{% else %}"navi"{% endif %}  href="/about">WHOAMI</a></li>
	</ul>
	</div>
</nav>
