<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<nav>
	    		<ul>
				      
                                <li><a class="nav-ul-li-a {% if page.url == '/' %} active{% endif %}" href="/">/home</a>
                                <li><a href="/blog">/blog</a></li>
		        	<li><a href="/about">/about</a></li>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div>
			<footer>
	    		<ul>
	        		<li><a href="mailto:mauro.oddi@gmail.com">email</a></li>
	        		<li><a href="https://github.com/mauroseb">github.com/mauroseb</a></li>
				<li><a href="https://
				</ul>
			</footer>
		</body>
	</html>
