<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<nav>
			<div id="nav">
                          <h1 id="main">
                            {{ site.title }}
                          </h1>
                        </div>
	    		<ul>      
                                <li><a class="nav-ul-li-a-active" href="/">HOME</a>
                                <li><a href="/blog">BLOG</a></li>
		        	<li><a href="/about">WHOAMI</a></li>
	    		</ul>
			</nav>
			<div id="rest">
			
			{{ content }}
			
			</div>
			<footer>
	    			<ul>
	        			<li><a href="mailto:mauro.oddi@gmail.com">email</a></li>
	        			<li><a href="https://github.com/mauroseb">github</a></li>
					<li><a href="https://www.linkedin.com/in/mauro27">linkedin</a></li>
				        <li><a href="{{ "/feed.xml" | relative_url }}">rss</a></li>
				</ul>
			</footer>
		</body>
	</html>
